.sct-3-descargar-hoy {
    position: relative;
}


.sct-3-descargar-hoy h1 {
    position: absolute;
    width: 900px;
    height: 153px;
    font-family: "Lato";
    font-weight: 500;
    font-size: 61.14px;
    color: white;
    top: 175px;
    left: 165px;
    line-height: 110%;
    letter-spacing: 0;
    text-align: center;
}

.sct-3-descargar-hoy h1 span {
    font-style: italic;
}

.btn-section3 {
    font-size:  31.14px;
    font-family:'Lato';
    font-weight: 600;
    font-style: normal;

    width: 540px;
    height: 66px;
    background-color: #83C252;
    color: #ffffff;

    border-radius: 111px;
    border: 8px solid #ffffff;

    /*box-shadow: 5px 4px 0px 0px #02197d;*/ /* Sombra sólida sin difuminarse */
    
    position: absolute; /* O 'fixed' si el botón debe estar fijo en la pantalla*/
    left: 362px;  /* Ajusta el valor a las coordenadas X de Figma */
    top: 390px;   /* Ajusta el valor a las coordenadas Y de Figma */
    z-index: 2;   /*Asegúrate de que el botón se muestre por encima de otros elementos */
    padding: 0px;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.layer.sct3-layer1 {
    position: absolute;
    width: 1280px;
    height: 767px;
    bottom: 0px;
    z-index: 2;
    background-repeat: no-repeat;
  
  background-position: center;
  background-position: 50% 50%;
  top :389px;
}

.parallax-container {
    position: relative;
    width: 100%;
    height: 500px; /* Ajusta la altura según sea necesario */
    overflow: hidden;
}

.parallax-image {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-out; /* Para suavizar el movimiento */
}




