/* Manejo de variables */
:root {

    --primary-color: 11;
    --primary-color-light-1: 11;
    --primary-color-light-2: 11;
    --primary-color-light-3: 11;
    --primary-color-light-4: 11;
    --primary-color-dark-1: 11;
    --primary-color-dark-2: 11;
    --primary-color-dark-3: 11;
    --primary-color-dark-4: 11;

    --secondary-color: 11;
    --secondary-color-light-1: 11;
    --secondary-color-light-2: 11;
    --secondary-color-light-3: 11;
    --secondary-color-light-4: 11;
    --secondary-color-dark-1: 11;
    --secondary-color-dark-2: 11;
    --secondary-color-dark-3: 11;
    --secondary-color-dark-4: 11;

    --background-color-1: #2a2d34;
    --background-color-1-light-1: 11;
    --background-color-1-light-2: 11;
    --background-color-1-light-3: 11;
    --background-color-2: 12;
    --background-color-2-light-1: 11;
    --background-color-2-light-2: 11;
    --background-color-2-light-3: 11;
    --background-color-3: 13;
    --background-color-3-light-1: 11;
    --background-color-3-light-2: 11;
    --background-color-3-light-3: 11;


    --header-height-mobile: 65px;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; 
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    
    background-color: var(--background-color-1);
    display: flex;
    flex-direction: column;
    
    /*min-height: 100vh;*/ /* Para que el footer esté al final */
    justify-content: center;
    overflow: hidden;
    
    /*max-height: 100vh;*/
}

/* Header */
header{
    width: 100%;
    padding: 0;
    margin: 0;
}
#header-navbar {
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*padding-left: 2%;
    padding-right: 2%;*/
    background-color: #2c3e50;
    color: white;
    height: var(--header-height-mobile);
}
#hamburger-menu{
    background: none; 
    border: none; 
    color: #ffffff; 
    cursor: pointer;
}
.nav-area {
    display: flex;
    align-items: center;
}

.hamburguesa {
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.logo {
    margin-right: 0; /* Para empujar el logo hacia el centro */
}

.nav-area-center {
    flex-grow: 1;
    display: flex;
    align-items:center;
    justify-content: center;
    max-width: 100%;
    background-color: #2c3e50;
}

.logged-input {
    background-image:url('/iconos/avatar-pika-login.png');
    background-repeat:no-repeat;
    background-position:center;
    height: fit-content;
    width: fit-content;
}

.inpt-buscar {
    padding: 0;
    width: max-content;
    border-radius: 20px;
}

.nav-area-right {
    margin: 0;
    padding:0;

}

.icon-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 0;
    font-size: 1.2em;
}

/* Login Form Styles */

.login-container {
    background-color: #2c3e50;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    margin: 40px auto; 
}

.login-container img {
    max-width: 100px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #ffffff;
    font-style: none;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #5d6d7e;
    border-radius: 20px;
    background-color:#5d6d7e;
   
}

input::placeholder{
    color:#ffffff ;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 20px ;
}

.buttons-container button {
    width: 48%;
    padding: 10px;
    cursor: pointer;
}
.btn-primary{

    background-color:#9bf00b; 
    color: black;
    border-radius: 20px;
    width: 48%;
    padding: 10px;

}

.btn-primary:hover{

    border: solid #9bf00b ;
    background-color: #2c3e50;
    color:#9bf00b;
}


.btn-secundary{
    position: relative;
    border: solid #9bf00b ;
    background-color: #2c3e50;
    color:#9bf00b;
    border-radius: 20px;
    width: 48%;
    padding: 10px;
    overflow: hidden; /* Mantiene el brillo dentro del botón */
}

.btn-secundary::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -150%; /* Línea comienza fuera de la vista */
    width: 200%; /* Lo suficientemente larga para cruzar el botón */
    height: 10px; /* Grosor de la línea */
    background: rgba(155, 240, 11, 0.5); /* Color y opacidad de la línea */
    transform: rotate(45deg); /* Inclinación diagonal */
    transition: left 0.8s ease; /* Transición suave */
    display: block;
}
  
.btn-secundary:hover::before {
    left: 100%; /* La línea cruza el botón al hacer hover */
}

.btn-secundary:hover {

    background-color:#6c30bb; 
    color:#9bf00b;
    border-color:#6c30bb;
    
}

.separator {
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #ccc;
    
}

.separator span {
    margin: 0 10px;
    color: #666;
}

.social-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn {
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
}

.facebook-btn {
    background-color: #4267B2;
    color: white;
    border-radius: 20px;
}

#id-popover{
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 40%;
    width: 20%;
    height: 10%;
    background:#ffffff;
    padding-top: 10px;
    color: #a278da;  
}

#id-popover::backdrop{
    background-color:rgba(0, 0, 0, 0.5) ;
}
.button-container button{
    width: 20%;
}

.button-container{
    padding: 10px;
}

#footer {
    background: linear-gradient(to top, #2b3846, transparent);
    position: relative;
    width: 100%;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto; /* Empuja el footer al fondo */
}

.footer-links {
    justify-content: space-around;
    margin-bottom: 20px;
    text-decoration: none;
}

.footer-links:hover{
    text-decoration: none;
}

.footer-links div {
    text-align: center;
}

.footer-links h3 {
    margin-bottom: 10px;
    color: #a278da;
}

.footer-list {
    display: none; /* Por defecto, las listas están ocultas */
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    list-style-type: none; /* Quitar los puntos de la lista */
}

.footer-list a {
    color: white;
    text-decoration: none;
}

.footer-list a:hover {
    color: #9bf00b;
    transform: scale(1.05);      /* Aumenta ligeramente el tamaño */
    text-shadow: 0 2px 5px rgba(210, 232, 200, 0.5); /* Añade una sombra */
    text-decoration:dashed;
}

.btn-footer {
    background: none; 
    border: none;
    color: #a278da;
    padding: 0; 
    cursor: pointer;
    text-align: left;
}

/* Clase para mostrar las listas */
.footer-list.show {
    display: block; 
}

.menu {
    position: absolute;
    top: var(--header-height-mobile);
    left: 0;
    bottom: 0;
    margin: 0;
    background-color: #5d6d7e;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding-top: 0px;
    padding-right: 0px;
    z-index: 1000;
    height: 100%;
    width: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.menu-separator {
    border-color: var(--background-color-1);
    width: 80%;
    margin: 0 auto;
    height: 1px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.item-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    max-width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item-menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.item-menu img{
    margin:0;
    padding:0;
    width: fit-content;
    height: fit-content;
}

.menu-img-container {
    justify-content: center;
    max-width: 100%;
}

.container-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.item-menu a {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid transparent;
    color: #ffffff;
    font-size: 18px;
    width: 100%;
}

a.centered {
    text-align: center;
    font-size: 26px;
    
}
.menu-link{
    text-decoration: none;
    color: #23034d !important;
    font-weight: bold;
    font-size: 18px !important;
    text-align: center;
    max-width: 80%;
    display: block;
    margin: 0 auto;       
    text-align: center;  
    background-color: transparent; 
    padding: 10px;
    text-decoration: none;
}

.menu h3 {
    text-align: center;
    color:#ffffff
}

.separator {
    border: none;
    margin: 10px 20px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.menu.show {
    transform: translateX(0);
    
}

.bounce {
    transition: transform 0.3s ease;
    transform: translateX(-30px); /* Mueve ligeramente para el efecto de rebote */
  }
  
  .bounce-back {
    transition: transform 0.3s ease;
    transform: translateX(30px); /* Mueve ligeramente para el efecto de rebote en el otro extremo */
  }

.carousel-container  {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    padding: 0%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.carousel-window {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
  
.card {
    flex: 0 0 48%; /* Mostrar 3 cards en móvil */
    margin: 4px;
    background-color: #2c3e50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    border-radius: 8px;
    color: #ffffff;
    width: 40%;
    max-height: 80%;
    position: relative; /* Necesario para que los elementos se posicionen correctamente */
    display: flex;
    flex-direction: column;

}

.card:hover{
    transform: scale(1.05);      /* Aumenta ligeramente el tamaño */
}

.card img {
    max-width: 100% ; 
    height: auto; /* Mantener proporciones */
    max-height: 70%;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.categoria{
    padding-left: 0;
    width: 100%;
    color: #ffffff;
} 

.carousel-button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 0;
}
  
.prev {
    left: 0;
}

.next {
    right: 0;
}

.carousel-button img {
    max-width: 100%;
    max-height: 100%;
}
  
.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
 

.titulo-desc-card {
    padding: 3%;
    height: 20%;
}

.titulo-desc-card h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

  /*.buttons-container-card {
    display: flex;
    width: 100%;
    height: 100%;
    padding-right: 10%;
    padding-bottom: 10%;
    position: relative;
    align-self: center;
  }*/

.btn-card-jugar{
    background-color: #2c3e50;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    /*padding: 10%;*/
}

.btn-card-jugar img {
    border-radius: 0%;
    padding:5%;
    padding-left: 2%;
    max-width: 100%;
    max-height: 100%;
    scale: 150%;
    position: absolute;
    transition: opacity 0.5 ease;
    object-fit: cover;
    align-self: flex-end;
    bottom: 0;
    right: 0;
}

.btn-card-jugar img.gamepad-hover {
    opacity: 0;
}

  
.btn-card-jugar:hover img.gamepad-original {
    opacity: 0;
}
 
.btn-card-jugar:hover img.gamepad-hover {
    opacity: 1;
}

/* Overlay para el hover */
.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Oculto por defecto */
    transition: opacity 0.3s ease; /* Transición suave para el overlay */
}

.card:hover .hover-overlay {
    opacity: 1; /* Muestra el overlay en hover */
}


/* Responsive */
@media (min-width: 480px) {

    body{
        
        align-items: center;
        justify-content: center;

    }
    .footer-links {
        flex-direction: row;
        align-items: center;
    }

    .footer-links div {
        margin-bottom: 20px;
        
    }


    #footer {
        
        background: linear-gradient(to top, #2b3846, transparent);
        position: relative;
        width: 100%;
        color: white;
        padding: 20px 0;
        text-align: center;
        margin-top: auto; /* Empuja el footer al fondo */
        
    }

    .footer-links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .footer-links div {
        text-align: left;
    }



    .footer-links a {
        display: block;
        color: white;
        text-decoration: none;
        margin-bottom: 5px;
    }

    .footer-links a:hover {
        text-decoration: none;
    }

    .btn-footer {
        font-size: 16px;
        padding-bottom: 10px;
    
    }

    .footer-bottom p {
        margin: 0;
        color: #5d6d7e;
    }

    .footer-list {
        display: block; 
        color:#a278da;
        text-decoration: none;
        margin-bottom: 5px;
    }

    .card {
        flex: 0 0 40%; /* Mostrar 5 cards (100% / 5 = 20%) */
        margin-right: 10px;
        padding: 0px;
        padding-bottom: 10px;
        background-color: #2c3e50;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align:left;
        border-radius: 8px;
        max-width: 215px;
        height: 193px;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0;
    }

 

.btn-card-jugar{
    max-height: 32px;
    max-width: 90px;
    padding: 2px;
    margin: 0auto;
    display: block;
}
  
.card img {
    width: 100%;
    height: 120px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.buttons-container-card{
    display: flex;
    justify-content:end;
    margin-top: 10px;
    padding: 0px;
    padding-bottom: 0px;
    max-width: 100%;
    margin: 0px;  
}

.nav-area-center{
    justify-content: center;
}

  .carousel-track{
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    max-height: 259px;
    align-items: center;
  }
    .prev,.next{
        background-color: transparent;
        color: #9bf00b;
        width:52.25px ;
        height:60px ;

    }

    .prev img, .next img {
        width:100% ;
        height: auto;
    }
    

  .carousel-container{
    position: relative; 
    overflow: hidden;
    /*width: 90%;*/
    max-height: 8%; 
    /*padding: 20px;*/
    display: flex; 
    justify-content: space-evenly; 
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0;
    margin: 0;
   
  }


  .carousel-window {
    position: relative; /* Importante para que los botones se posicionen dentro del contenedor */
    overflow: hidden;
    width: 60%;
    height: 10%; 
    padding: 20px;
    display: flex; /* Añadido para que los botones se alineen */
    justify-content: space-between; /* Espacio entre botones */
    align-items: center; /* Centrado vertical */
    margin-bottom: 85px;
    }



    .carousel-button.prev {
        left: 0;
    }

    .carousel-button.next {
        right: 0;
    }
    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        color: white;
        border: none;
        /*padding: 10px;*/
        cursor: pointer;
        z-index: 1;
        display: flex; /* Añadido para centrar imagen dentro del botón */
        justify-content: center;
        align-items: center;
    }
    .categoria h3{
        color: #ffffff;
    }
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }



