:root {

    --primary-color: #9BF00B;
    --primary-color-light-1: #ADF239;
    --primary-color-light-2: #BFF564;
    --primary-color-light-3: #D0F98B;
    --primary-color-light-4: #E5FDBB;
    --primary-color-dark-1: #85D300;
    --primary-color-dark-2: #68A500;
    --primary-color-dark-3: #548500;
    --primary-color-dark-4: #3B5D00;

    --secondary-color: #6C30BB;
    --secondary-color-light-1: #834FC9;
    --secondary-color-light-2: #A278DA;
    --secondary-color-light-3: #C3A3EC;
    --secondary-color-light-4: #E5D5FA;
    --secondary-color-dark-1: #540EB0;
    --secondary-color-dark-2: #3E0A83;
    --secondary-color-dark-3: #31066B;
    --secondary-color-dark-4: #23034D;

    --third-color: #FF6F00;
    --third-color-light-1: #FF8C33;
    --third-color-light-2: #FF9A4D;
    --third-color-light-3: #FFB066;
    --third-color-light-4: #FFD1A1;
    --third-color-dark-1: #E65C00;
    --third-color-dark-2: #CC4C00;
    --third-color-dark-3: #B34300;
    --third-color-dark-4: #993F00;

    /*--background-color-1: #2a2d34;*/
    --background-color-1: #2C3E50;
    --background-color-1-light-1: #4A5D6C;
    --background-color-1-light-2: #6C7A8A;

    --background-color-2: #5D6D7E;
    --background-color-2-light-1: #8A9BB6;
    --background-color-2-light-2: #BDC9D3;
    
    --background-color-3: #2A2D34;
    --background-color-3-light-1: #4A4D56;
    --background-color-3-light-2: #6C6F77;


    --header-height-mobile: 65px;
}






.turno-jugador {
    width: 100%;
    text-align: center;
    position: absolute;
    margin-right: 700px;
    margin-top: 50px;
    font-size: 48px;
    border-color: var(--primary-color-dark-1);
    color: var(--third-color); /* Color del texto */
            text-shadow: 
                2px 2px 0 var(--secondary-color), /* Sombra negra abajo a la derecha */
                -2px -2px 0 var(--secondary-color), /* Sombra negra arriba a la izquierda */
                -2px 2px 0 var(--secondary-color), /* Sombra negra abajo a la izquierda */
                2px -2px 0 var(--secondary-color); /* Sombra negra arriba a la derecha */
}

.container {
    position: relative; /* Permite el posicionamiento absoluto de los elementos hijos */
}

canvas {
    display: absolute; /* Elimina el espacio en blanco debajo del canvas */
}

.juego-sel{
    background-color: rgba(34, 30, 30, 0.3);
    max-width: 70%;
    width: 920px;
    height: 745px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.juego-types {
    max-width: 90%;
    width: 920px;
    height: 370px;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.juego-types label {
    font-weight: bold;
    color: white;
    
}

.juego-option-panel {
    margin: 1%;
    max-width: 60%;
    width: 920px;
    height: 325px;
    background-color: none;
    z-index: 11;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
    align-items: center;
}

.jugador-div {
    background-color: rgba(226, 226, 29, 0.7);
    border-radius: 10px;
    width: 215px;
    height: 30px;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: 15px;
}

.jugador-opciones {
    width: 200px;
    border-radius: 10px;
    background-color: rgba(186, 141, 65, 0.7);
    padding: 10px;
    border: 2px solid var(--primary-color-dark-2);
}
#input-nombre-jugador {
    border-radius: 0;
    max-width: max-content;
    background: none;
    border: none;
    border-bottom: 2px solid #ffff;
    margin-right: 100px;
    padding-left: 1%;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: none;

}

.juego-option-panel label {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.jugar-juego {
    max-width: 25%;
    width: 920px;
    height: 75px;
    background-color: var(--third-color-dark-1);
    border-radius: 50px;
    font-size: 24px;
    border: 2px solid var(--primary-color-dark-2);
}

.juego-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    width: 920px;
    height: 500px;
    background-color: rgba(34, 30, 30, 0.5);
    z-index: 100;
    border-radius: 18px;
    border: 2px solid var(--primary-color-dark-2);
}



/******/

.radio-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
    gap: 10px; /* Espacio entre los elementos */
    margin-bottom: 10px;
    margin-top: 10px;
}

.radio-group div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Ajusta según sea necesario */
    height: 40px; /* Ajusta según sea necesario */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.radio-img {
    width: 100%; /* Ajusta según sea necesario */
    height: 100%; /* Ajusta según sea necesario */
    border-radius: 50%;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label .radio-img {
    transform: scale(1.5); /* Efecto visual para la imagen seleccionada */
    border: 4px solid var(--third-color-dark-3); /* Añadir borde para indicar selección */
    border: 4px solid var(--secondary-color-dark-4);
}

/**/

.option-group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.option-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Ajusta según sea necesario */
    height: 30px; /* Ajusta según sea necesario */
    border-radius: 50%;
    background-color: none;
    border:2px solid var(--primary-color);
    font-size: 24px; /* Tamaño del texto */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.option-label-tiempo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px; /* Ajusta según sea necesario */
    height: 30px; /* Ajusta según sea necesario */
    border-radius: 8px;
    background-color: none;
    border:2px solid var(--primary-color);
    font-size: 24px; /* Tamaño del texto */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-weight: none;
}

input[type="radio"]:checked + .option-label {
    /*background-color: var(--secondary-color);*/
    background-color: var(--primary-color-dark-2);
    border:2px solid var(--secondary-color);
    color: black;
    transform: scale(1.2); /* Efecto visual para la opción seleccionada */
}

input[type="radio"]:checked + .option-label-tiempo {
    /*background-color: var(--secondary-color);*/
    background-color: var(--primary-color-dark-2);
    border:2px solid var(--secondary-color);
    color: black;
    transform: scale(1.1); /* Efecto visual para la opción seleccionada */
}



